@font-face {
    font-family: 'Inter';
    src: url('font/Inter-VariableFont.ttf');
}

body {
    color: #FFF;
    background-color: #30324B;
}

a.cor-font-menu {
    color: rgb(255, 255, 255);
}

df-messenger {
    --df-messenger-bot-message: #D7D5DE;
    --df-messenger-minimized-chat-close-icon-color: #F6BD2887;
    --df-messenger-button-titlebar-color: #231b36;
    --df-messenger-chat-background-color: #382C58;
    --df-messenger-input-box-color: #9E96B9;
    --df-messenger-font-color: #343434;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #F3EACF;
    --df-messenger-input-placeholder-font-color: #FFFFFF99;
    --df-messenger-input-font-color: #ffffff;
    scrollbar-color: #836EBC80;
}

.margem {
    margin: 20px;
    background-color: #30324B;
}

.cor-butao {
    color: #FFF;
    background-color: #5D91DE;
    border-radius: 50px;
}

.cor-menu {
    background-color: rgba(38, 28, 68, 0.5);
    background-size: cover;
}

.content-wrapper {
    width: 100%;
    overflow-x: hidden;
}